# https://pylint.readthedocs.io/en/stable/user_guide/configuration/all-options.html

[MAIN]

disable=
        # Doesn't make sense for every class, function, or module to have a docstring.
        missing-class-docstring,
        missing-function-docstring,
        missing-module-docstring,
        # Handled by ruff.
        protected-access,
        # Handled by ruff
        ungrouped-imports,
        # Handled by ruff
        unused-argument,
        # Handled by ruff
        unused-import,
        # Handled by ruff
        unused-variable,
        # Overriding an abstract variadic method is semantically correct and should
        # not be complained about. Pylance handles fixed-arity cases correctly.
        arguments-differ,
        # handled by pylance
        import-error,
        # A class does not necessarily have to have methods and the proposed pylint's
        # alternative to use dataclasses may not be a good fit in all situations
        # (e.g., we may want to have a single-method Protocol). 
        too-few-public-methods,
        # Pylance regards a method with a docstring in a protocol as being
        # implemented and expects the function to return its declared return type.
        # If we add an ellipsis to tell Pylance that this function is expected to be
        # implemented in a subclass, pylint complains that the ellipsis is unnecessary
        unnecessary-ellipsis,

# Use multiple processes to speed up Pylint. Specifying 0 will auto-detect the
# number of processors available to use, and will cap the count on Windows to
# avoid hangs.
jobs=0

load-plugins=pylint_pytest

max-line-length=120


[BASIC]

# Good variable names which should always be accepted, separated by a comma.
good-names=i,
           j,
           k,
           _


[VARIABLES]

allow-global-unused-variables=no